<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
		<add key="nuget v2" value="https://www.nuget.org/api/v2"/>
	</packageSources>
</configuration>
